<section class="pt-5 p-5"></section>
<section class="section1 pt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="lft">
          <h2 class="fw-bold">Welcome to our support page!</h2>
          <p>We're here to help you with any problems you may be having with our product.</p>
          <img src="assets/vendors/imgs/Sub Container.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="rit p-4">
          <form class="row g-2">
            <div class="col-md-6">
              <label for="inputFname" class="form-label">First Name</label>
              <input type="text" class="form-control shadow-none" id="inputFname" placeholder="Enter First Name">
            </div>
            <div class="col-md-6">
              <label for="inputlname" class="form-label">Last Name</label>
              <input type="text" class="form-control  shadow-none" id="inputlname" placeholder="Enter Last Name">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control  shadow-none" id="inputEmail4" placeholder="Enter Email">
            </div>
            <div class="col-md-6">
              <label for="inputPhone" class="form-label">Phone</label>
              <input type="tel" class="form-control  shadow-none" id="inputPhone" placeholder="Enter Phone">
            </div>
            <div class="col-md-12">
              <label class="form-label">Message</label>
              <textarea cols="20" rows="7" placeholder="Enter Your Message"
                class="form-control  shadow-none"></textarea>
            </div>
            <div class="col-12 text-end pt-3">
              <button (click)="refresh()" type="submit" class="btn btn-danger">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section5 pt-5 p-5 ">
  <div class="container ">
    <!-- <img src="assets/vendors/imgs/Image.png" class="img-fluid" alt=""> -->
    <div class="row larg-image">
      <div class="col-lg-6">
        <div class="txt">
          <h6>Start your free trial today!</h6>
          <p>This is a clear and concise call to action that encourages users to sign up for a free trial
            of StreamVibe.</p>
        </div>
      </div>
      <div class="col-lg-6 text-end align-items-center">
        <div class="butn">
          <button class="btn btn-danger">Start Free Trial</button>
        </div>
      </div>
    </div>
  </div>
</section>