<footer class="pt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h6 class="pb-3">Home</h6>
        <p>Categories</p>
        <p>Devices</p>
        <p>Pricing</p>
        <p>FAQ</p>
      </div>
      <div class="col">
        <h6 class="pb-3">Movies</h6>
        <p>Genres</p>
        <p>Trending</p>
        <p>New Realese</p>
        <p>Popular</p>
      </div>
      <div class="col">
        <h6 class="pb-3">Shows</h6>
        <p>Genres</p>
        <p>Trending</p>
        <p>New Realese</p>
        <p>Popular</p>
      </div>
      <div class="col">
        <h6 class="pb-3">Support</h6>
        <p>Contact Us</p>
      </div>
      <div class="col">
        <h6 class="pb-3">Subscriptions</h6>
        <p>Plans</p>
        <p>Features</p>
      </div>
      <div class="col">
        <h6 class="pb-3">Connect with us</h6>
        <i class="fa-brands fs-5 me-2 fa-facebook"></i>
        <i class="fa-brands fs-5 me-2 fa-instagram"></i>
        <i class="fa-brands fs-5 me-2 fa-x-twitter"></i>
      </div>
      <hr>
      <p class="text-center">@2024 streamvibe, All Rights Reserved</p>
    </div>
  </div>
</footer>
