<header>
  <div class="heading text-center">
    <h1>The Best Streaming Experience</h1>
    <p>StreamVibe is the best streaming experience for watching your favorite movies and shows on demand.You can also
      create your own watchlists, so you can easily find the content you want to watch.</p>
  </div>
</header>
<section class="section1 pt-5 p-5">
  <div class="container">
    <div class="title d-flex justify-content-between align-items-center">
      <div class="txt">
        <h3>Explore our wide variety of categories</h3>
        <p>Whether you're looking for a comedy to make you laugh, a drama to make you think</p>
      </div>
      <div class="butn">
        <button class="btn btn-danger" (click)="openRecommendFilmModal()">Recommend Film</button>
      </div>
    </div>
  </div>
  <app-genres></app-genres>
</section>


<section class="section2 pt-5 p-5">
  <div class="container">
    <div class="title">
      <h3>We Provide you streaming experience across various devices.</h3>
      <p>With StreamVibe, you can enjoy your favorite movies and TV shows anytime, anywhere. Our platform is designed to
        be compatible with a wide range of devices, ensuring that you never miss a moment of entertainment.</p>
    </div>
    <div class="row pt-3">
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-mobile-screen-button fs-1"></i>
            <h5 class="ps-3">Smartphones</h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-tablet fs-1"></i>
            <h5 class="ps-3">Tablet</h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-tv fs-1"></i>
            <h5 class="ps-3">Smart TV</h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-laptop fs-1"></i>
            <h5 class="ps-3">Laptops</h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-gamepad fs-1"></i>
            <h5 class="ps-3">Gaming Consoles</h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 pt-3">
        <div class="carde p-4">
          <div class="head pb-4 d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-vr-cardboard fs-1"></i>
            <h5 class="ps-3">VR Headsets </h5>
          </div>
          <p>StreamVibe is optimized for both Android and iOS smartphones. Download our app from the Google Play Store
            or the Apple App Store</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section3 p-5">
  <div class="container">
    <div class="title">
      <h3 class="text-white ">Frequently Asked Questions</h3>
      <p>Got questions? We've got answers! Check out our FAQ section to find answers to the most common questions about
        StreamVibe.</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item gradient-border mt-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">01</h6>
                  </div>
                  What is StreamVibe?
                </div>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>StreamVibe is a streaming service that allows you to watch movies and shows on
                  demand.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item gradient-border mt-3 gradient-border">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">02</h6>
                  </div>
                  What content is avilable in StreamVibe?
                </div>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Any film you think about , sure will be in our website</p>
              </div>
            </div>
          </div>
          <div class="accordion-item gradient-border mt-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">03</h6>
                  </div>
                  What types of films can I find on your website?
                </div>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Our website features a wide variety of film genres including Action, Drama, Horror,
                  Comedy, Crime, and more. Each genre page showcases a curated list of films, allowing
                  you to explore and find movies that suit your taste.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item gradient-border mt-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">04</h6>
                  </div>
                  Can a film belong to multiple genres?
                </div>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes, some films span multiple genres. For example, a movie might be listed under
                  both Action and Sci-Fi. When you view films by genre, you'll see all films that
                  belong to that particular genre, even if they also fall into other categories.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item gradient-border mt-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">05</h6>
                  </div>
                  How often do you update your film listings?
                </div>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We regularly update our film listings to ensure that you have access to the latest
                  and greatest films across all genres. Check back often to discover new additions and
                  updates to your favorite genres.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item gradient-border mt-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSex" aria-expanded="false" aria-controls="collapseSex">
                <div class="txt d-flex align-items-center">
                  <div class="number">
                    <h6 class="num p-3 m-0 me-3">06</h6>
                  </div>
                  How can I learn more about a specific film?
                </div>
              </button>
            </h2>
            <div id="collapseSex" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Clicking on any film's poster or title will take you to a detailed page where you
                  can find more information about the movie, including its synopsis, duration, and
                  genre(s). You may also find reviews and ratings from other viewers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<section class="section5 pt-5 p-5 ">
  <div class="container ">
    <!-- <img src="assets/vendors/imgs/Image.png" class="img-fluid" alt=""> -->
    <div class="row larg-image">
      <div class="col-lg-6">
        <div class="txt">
          <h6>Start your free trial today!</h6>
          <p>This is a clear and concise call to action that encourages users to sign up for a free trial of StreamVibe.
          </p>
        </div>
      </div>
      <div class="col-lg-6 text-end align-items-center">
        <div class="butn">
          <button class="btn btn-danger">Start Free Trial</button>
        </div>
      </div>
    </div>
  </div>
</section>